@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <h1>Welcome to Anonymous Forum</h1>
    <p class="lead">A place where everyone can speak out without registration.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="topics" role="button">Start Chatting</a>
</div>